.header__link {
    display: flex;
    color: white;
    text-decoration: none;
    max-width: 142px;
    margin: 0 0 41px;
}


@media screen and (max-width: 650px) {
    .header__link {
        margin-bottom: 32px;
    }
}