.profile__description {
    grid-row: 2;
    grid-column: 1/2;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .profile__description {
        font-size: 14px;
    }
}