.signing__input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    max-width: 360px;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 5px;
}

::placeholder {
    color: #CCCCCC;
    opacity: 1;
    font-size: 14px;
    line-height: 1.2;
}