.header__registration-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}

@media screen and (max-width: 650px) {
    .header__registration-link {
        font-size: 14px;
    }
}