.profile__add-button {
    width: 150px;
    box-sizing: border-box;
    height: 50px;
    text-decoration: none;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../images/vector-add-button.svg");
    justify-self: end;
    margin: 35px 0;
    background-color: black;
    padding: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 880px) {
    .profile__add-button {
        margin: 15px 0;
    }
}

@media screen and (max-width: 650px) {
    .profile__add-button {
        margin: 36px 0;
        width: 282px;
        background-size: auto;
    }
}