@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__registration-link/header__registration-link.css);
@import url(./blocks/header/__registration-link/_main/header__registration-link_main.css);
@import url(./blocks/header/__registration-link/_email/header__registration-link_email.css);
@import url(./blocks/header/__links-container/header__links-container.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__photo-container/profile__photo-container.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/card/__delete-button/_inactive/card__delete-button_inactive.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__info/card__info.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_sum/card__like_sum.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_theme/popup__title_theme-confirm.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__item/_type/_error/popup__item_type_error.css);
@import url(./blocks/popup/__item-error/popup__item-error.css);
@import url(./blocks/popup/__item-error/_active/popup__item-error_active.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/_theme/popup_theme_image.css);
@import url(./blocks/signing/signing.css);
@import url(./blocks/signing/__title/signing__title.css);
@import url(./blocks/signing/__form/signing__form.css);
@import url(./blocks/signing/__input/signing__input.css);
@import url(./blocks/signing/__button/signing__button.css);