.header {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 45px 0 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 880px) {
    .header {
        max-width: 650px;
        padding-top: 28px;
    }
}

@media screen and (max-width: 650px) {
    .header {
        max-width: 320px;
    }
}